@model IEnumerable<mf_dev_backend.Models.Veiculo>

@{
    ViewData["Title"] = "Index";
}

<h1>Tabela de veículos</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Cadastrar novo veículo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Placa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnoFabricacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnoModelo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Placa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnoFabricacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnoModelo)
            </td>
            <td>
                    <a class="btn btn-warning" asp-action="edit" asp-route-id="@item.Id">Editar</a>
                    <a class="btn btn-primary" asp-action="details" asp-route-id="@item.Id">Visualizar</a>
                    <a class="btn btn-danger" asp-action="delete" asp-route-id="@item.Id">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
